*{
  margin: 0px;
}
#main, #canvas{
  border: 2px none black;
}
#canvas{
  width: 80%;
  margin: auto;
  height: 770px;
}
#form-body{
  width: 370px;
  height: 320px;
  margin: auto;
  border: 1px solid grey;
  margin-top: 100px;
  padding: 8px;
  border-radius: 5px;
}
.headings{
  margin: 3px;
  padding-left: 5px;
  margin-top: 10px;
}
.navbar{
  margin-bottom: 10px;
}