<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Transaction</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div id="main">
    <div id="canvas">
      <div id="form-body" style="height: fit-content; padding: 20px;">
        <h2 class="headings" style="padding: 0px 0px 2px 0px; margin: 0px;">Review Transaction</h2>
        <br>
        <div style="text-align: center;">
          <h5>{{trans.t_name}}</h5>
          <h5>{{trans.s_city}} - {{trans.d_city}}</h5>
          <h5>Date created : {{trans.t_date}}</h5>
          <h5>Type : {{trans.t_type}}</h5>
          <br>
        </div>
        <form class="row g-3" action="/review/{{trans.id}}" method="post">
          <div class="col-md-12">
            <label for="inputDeliveryDate" class="form-label">Expected Delivery Date</label>
            <input type="date" class="form-control" id="inputDeliveryDate" name="delivery_date">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Amount</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Amount (INR)" name="amount">
          </div>
          <div class="col-12" style="text-align: end;">
            <input type="submit" class="btn btn-primary", value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>